body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  list-style: none;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
  transition: transform 200ms ease-in-out;
}

.gallery-link:hover {
  transform: scale(1.03);
}

.gallery-image {
  display: block;
  width: 100%;
}

div.sl-overlay {
  opacity: 1 !important;
  background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper div.sl-counter {
  color: #fff;
}

.sl-wrapper div.sl-navigation button {
  color: #fff;
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.sl-wrapper button.sl-close {
  color: #fff;
  height: 32px;
  width: 32px;
  line-height: 32px;
  font-size: 32px;
}
